[submodule "Vendor/GLFW"]
	path = Vendor/GLFW
	url = https://github.com/sjcmdev/glfw.git
[submodule "Vendor/ImGui"]
	path = Vendor/ImGui
	url = https://github.com/sjcmdev/imgui.git
	branch = docking
[submodule "Vendor/GLAD"]
	path = Vendor/GLAD
	url = https://github.com/sjcmdev/glad.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/sjcmdev/spdlog.git
[submodule "Vendor/Tracy"]
	path = Vendor/Tracy
	url = https://github.com/sjcmdev/tracy.git
[submodule "Vendor/GoogleTest"]
	path = Vendor/GoogleTest
	url = https://github.com/sjcmdev/googletest.git
[submodule "Vendor/yaml-cpp"]
	path = Vendor/yaml-cpp
	url = https://github.com/sjcmdev/yaml-cpp.git
[submodule "Vendor/json"]
	path = Vendor/json
	url = https://github.com/sjcmdev/json.git
[submodule "Vendor/thread-pool"]
	path = Vendor/thread-pool
	url = https://github.com/sjcmdev/thread-pool.git
